@model SiparisYonetimi.Entities.Brand
@{
    ViewBag.Title = Model.Name;
}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">@Model.Name</h1>
            <p class="lead fw-normal text-white-50 mb-0">@Model.Description</p>
        </div>
    </div>


    <div class="container my-5">

        <!-- Three columns of text below the carousel -->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <hr />
            @foreach (var item in Model.Products)
            {
                @Html.Partial("Productview", item)
            }

        </div>
        <!-- /.row -->

    </div>
